* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    font-size: 20px;
    font-family: 'Amatic SC', cursive;
}

.panels{
   /*  height: 100vh; */
    overflow: hidden;
}

.panel {
    color: white;
    text-align: center;
    background: #6B0F9C;
    background-size: cover;
    background-position: center;
    height: 100vh;
}


.panel1 {
 background-image:url(https://source.unsplash.com/gYl-UtwNg_I/1500x1500);

}

.panel2 {
 background-image:url(https://source.unsplash.com/rFKUFzjPYiQ/1500x1500);

}

.panel3 {
 background-image:url(https://source.unsplash.com/GcW93Uuljgo/1500x1500);
  }

.panel4 {
 background-image:url(https://source.unsplash.com/ITjiVXcwVng/1500x1500);

}

.panel5 {
 background-image:url(https://source.unsplash.com/3MNzGlQM7qs/1500x1500);

}
